@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #e2e2e2;
  --foreground: #222222;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Noto Sans TC, Arial, Helvetica, sans-serif;
}
